:root {
  --primary-color: #333c31c5;
  --secondary-color: #ffffffed;
  --accent1-color: #F79824;
  --accent2-color: #5133fd;
  --heading-font: 'Alfa Slab One', sans-serif;
  --text-font: 'Montserrat', sans-serif;
}

body {
  font-family: var(--text-font);
  color: var(--secondary-color);
  background-color: var(--primary-color);
  margin: 0;
}

header,
main,
footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

header img {
  height: 200px;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
}

nav li {
  margin-left: 30px;
}

nav a {
  padding: 10px;
  color: var(--accent2-color);
}

nav a:hover {
  color: var(--accent1-color);
}


h1,
h2 {
  text-align: center; 
  
  
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.hero > img {
  display: none; 
}

.hero-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6); 
  border-radius: 8px;
}

.hero-text {
  flex: 2;
  text-align: left;
  padding-right: 20px;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
form {
  width: 1000px;
  margin: 0 auto;
  padding: 8rem;
  border:var(--accent2-color);
  border-radius: 1rem;
  display: grid;
}
.form-item {
  width: 1000px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="email"],
textarea {
  width: calc(100% - 12px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
}


fieldset {
  display: grid;
  grid-gap: .10rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;
}
legend {
  padding: 0.5rem;
  color: navy;
  font-size: 0.5em;
}
label, input, button, select, textarea {
  font-family: var(--text-font)
}

label {
  text-align: start;
  padding-right: 1rem;
}


input, select, textarea {
  padding: 0.3rem;
  font-size: 1.5rem;
  
}


input[type="checkbox"] {
  width: 15px;
  height: 15px;
  vertical-align: bottom;

}
button {
  width: 10rem;
  margin: 0.5rem;
  background-color: rgb(0, 128, 38);
  color: #fffffffc;
  border: none;
  border-radius:.3rem;
  padding: 0.7rem;
  font-size: 1.2rem;
}
button[type="submit"]:hover {
  background-color: #00b34b;
}

#history {
  padding: 20px 0;
}

#history .history-content {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  gap: 20px;
  align-items: center;
}

#history .history-image img {
  width: 100%;
  height: auto;
}


#adventures .adventure-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0;
}

#adventures figure {
  margin: 10px;
  text-align: center;
}

#adventures img {
  max-width: 200px;
  height: auto;
}
#team .team-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}

#team figure {
  margin: 10px;
  text-align: center;
}

#team img {
  max-width: 200px;
  height: auto;
}
footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

footer .sociallinks ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .sociallinks li {
  margin-left: 10px;
}

footer .sociallinks img {
  height: 30px;
}